---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also visit my <a href="{{site.author.googlescholar}}"> Google Scholar </a> profile.</div>
{% endif %}

{% include base_path %}


<h2>Articles</h2>
<hr />
{% for post in site.publications reversed %}
  {% if post.category == 'manuscripts' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br>

<h2>Books and Lectures</h2>
<hr />
{% for post in site.publications reversed %}
  {% if post.category == 'book' or post.category == 'lecture' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
